<div id="hw-create-fileshare-container">
    <div class="drawer-form-wapitem">
        <label for="fileShareNameLabel">File Share Name</label>
        <!--<input id="fileShareName" name="fileShareName" type="text" data-link="newQueue.displayName" data-val="true" />-->
        <input id="fileShareName" name="fileShareName" type="text" data-val="true" />
    </div>

    <div class="drawer-form-wapitem">
        <label for="subscriptionsLabel">Subscription</label>
        <select id="subscriptions" name="subscriptions" data-fxcontroltype="fxDropdown"></select>
    </div>

    <div class="drawer-form-wapitem">
        <label for="sizeLabel">Size</label>
        <input id="size" name="size" type="text" data-val="true" />
    </div>

    <div class="drawer-form-wapitem">
        <label for="fileServerNameLabel">File Server Name</label>
        <input id="fileServerName" name="size" type="text" data-val="true" />
    </div>
</div>
