<div class="fxshell-tabcontainer">
    <div class="drawer-form-wapitem">
        <h2>Detach disk</h2>
    </div>
    <div class="drawer-form-wapitem">
        <label>Disk Name</label>
        <select id="disk-detach-select" name="growexistingdisk" class="wap-subnavselect" data-fxcontroltype="fxDropdown"></select>
    </div>
    <br />
    <br />
    <div class="drawer-form-wapitem">
        <label>Disk Action</label>
        <div id="disk-detach-radio" class="radio pushbutton"></div>
    </div>
    <div id="diskdetach-option-desc" class="drawer-form-wapitem"></div>
</div>