<div class="quickStartHeader">
    <img class="quickstart-graphic" src="{{attr:quickStartImage}}" alt="Quick Start" />
    <div class="description">
        <h2>CmpWapExtension</h2>
        <div class="headersubtext">Finish the following steps to complete your CmpWapExtension setup</div>
        <div class="quickstartCheckboxContainer">
            <span class="quickstartCheckbox"></span>
            <span class="quickstartCheckboxText">Skip Quick Start the next time visit</span>
        </div>
    </div>
</div>

<div class="steps-container">
    <ul class="steps">
        <li class="quickstart-step1 float-all clearfix">
            <div class="detail">
                <div class="detailTitle">
                    Register your CmpWapExtension REST endpoint
                    <span class="quickstart-register-ballon"></span>
                </div>
                <div class="detailDescription">Initializing</div>
            </div>
        </li>       
    </ul>
</div>
