<configuration>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="Packages" />
  </config>
  <solution>
      <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>