<div class="hw-controlsTab waz-config">
   
    <div class="fxshell-tabcontainer">
        <!--<div id="controls-tablist" class="fxshell-pivotlist" style="">-->


            <!--<div style="padding-bottom:22px;margin-top:22px;position:relative;min-height:37px">
                
                <label style="width:198px;text-transform:uppercase;font-family:Segoe UI Semibold;font-size:11px;float:left;display:block;word-wrap:break-word;padding-top:20px" >Virtual machine tier</label>
                <div id="sample-tablist" class="radio pushbutton" style="margin-top:10px" ></div>
                <div id="tab1"></div>
                <div id="tab2"></div>
              </div>-->

               
        <div id="configurevmsection" >
            <h2>Settings</h2>
            <label class="wap-subnavlabel"> Virtual machine size</label>
            <div style="float:left;margin-top:15px">
                <select id="size" name="vmsize" class="wap-subnavselect" data-fxcontroltype="fxDropdown"></select>
            </div>
        </div>
           
        <div id="errorconfigure"></div>

    </div>
</div>




